
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#1e293b,#008000);
    padding:40px;
}
/* Center the logo */
.logo {
    display: block;
    margin: 0 auto 20px auto; /* top/bottom spacing */
    width: 100px; /* adjust size as needed */
    height: auto;
}
h1{
    text-align:center;
    margin-bottom:40px;
    color:#ffffff;
    font-weight:600;
}

.container{
    max-width:750px;
    margin:auto;
}

.card{
    background:white;
    padding:25px;
    margin-bottom:25px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-3px);
}

.card h3{
    margin-bottom:20px;
    color:#2563eb;
    font-weight:500;
}

.candidate{
    margin-bottom:12px;
    padding:10px;
    border-radius:8px;
    transition:0.2s;
    display:flex;
    align-items:center;
}

.candidate:hover{
    background:#f1f5f9;
}

input[type="radio"]{
    margin-right:12px;
    width:18px;
    height:18px;
}

.submit-btn{
    display:block;
    width:100%;
    padding:16px;
    border:none;
    border-radius:10px;
    background:#16a34a;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
    margin-top:25px;
}

.submit-btn:hover{
    background:#15803d;
    transform:translateY(-2px);
}